apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
  namespace: ml-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      containers:
        - name: scheduler
          image: airflow-light:latest
          imagePullPolicy: IfNotPresent
          command: ["airflow", "scheduler"]
          envFrom:
            -configMapRef:
                name: airflow-config
            -secretRef:
                name: airflow-db
            
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
