apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
  namespace: ml-platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      containers:
        - name: webserver
          image: airflow-light:latest
          imagePullPolicy: IfNotPresent
          command: ["airflow", "webserver"]
          ports:
            - containerPort: 8080
          envFrom:
            -configMapRef:
                name: airflow-config
            -secretRef:
                name: airflow-db
            
          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
