apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: ml-platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: mlflow-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          
          envFrom:
              - configMapRef:
                  name: mlflow-config
              - secretRef:
                  name: mlflow-db
              - secretRef:
                  name: aws-credentials  
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "2Gi"